body{
    margin:0;
    background:#0f172a;
    font-family:Segoe UI;
    color:white;
}

.header{
    background:#1e293b;
    padding:15px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    border-bottom:1px solid #334155;
}

.header h2{
    margin:0;
}

.header p{
    margin:5px 0 0 0;
    color:#cbd5e1;
}

.main-container{
    display:flex;
    height:calc(100vh - 90px);
}

#memory-panel{
    width:300px;
    background:#1e293b;
    padding:20px;
    overflow-y:auto;
    border-right:1px solid #334155;
}

.chat-section{
    flex:1;
    display:flex;
    flex-direction:column;
}

#chat-box{
    flex:1;
    padding:20px;
    overflow-y:auto;
}

.input-area{
    display:flex;
    padding:15px;
    background:#1e293b;
    border-top:1px solid #334155;
}

#message{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    font-size:16px;
}

button{
    margin-left:10px;
    padding:12px 18px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#2563eb;
}

.user-message{
    background:#2563eb;
    padding:12px;
    border-radius:15px;
    margin:10px 0;
    max-width:70%;
    margin-left:auto;
}

.agent-message{
    background:#1e293b;
    padding:12px;
    border-radius:15px;
    margin:10px 0;
    max-width:70%;
}

#memory-panel p{
    background:#334155;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
}

.footer{
    text-align:center;
    padding:10px;
    color:#94a3b8;
    font-size:14px;
}